@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav {
  background-color: #343a40;
  color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.26);
  position: sticky;
  top: 0;
  height: 100vh;
  align-self: start;
}

header {
  background-color: #495057;
  padding: 50px 0;
  text-align: center;
  font-size: 20px;
}

.sidebar-elements {
  display: flex;
  align-items: center;
  gap: 18px;
  height: 75px;
  padding: 12px 32px;
  transition: 0.2s ease;
}

.sidebar-elements:last-child {
  border-bottom: 1px solid #495057;
}

.dashboard {
  background-color: #495057;
  border-left: 4px solid #4dabf7;
}

.sidebar-elements:hover {
  background-color: #495057;
  cursor: pointer;
  transform: translateX(0.5px);
  
}

.nav-text {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.login {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: auto;
  height: 75px;
  padding: 12px 32px;
}

.login:hover,
.login:active {
  background-color: #495057;
  cursor: pointer;
}

main {
  font-size: 25px;
  padding-left: 12px;
}
